<% if order.status == 0 %>
  <div class="card-order m-3 ">
    <%= cl_image_tag line.product.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-order-infos flex-grow-1" style='font-size:32px'>
      <h4><%= line.product.title %></h4>
      <div class='d-flex align-items-center'>
        <p class='me-4' style='font-size:18px'>Quantité commandé</p>
        <%= simple_form_for([order, line], html: {class: 'd-flex'}) do |f| %>
          <%= f.input :quantity, label: false, input_html: {class: 'mt-3', style:'width:96px; height:32px', min: line.product.minimum_order_quantity} %>
          <%= f.submit 'Mettre à jour', class: 'ms-3 mt-3 btn btn-dark', style:'width:168px; height:32px' %>
        <% end %>
      </div>
    </div>
    <div class="me-3 mb-3 align-self-end">
      <h2 style='font-size:24px'><%= line.line_total_price %>€</h2>
    </div>
  </div>
<% elsif order.status == 1 %>
  <div class="card-order m-3 ">
    <%= cl_image_tag line.product.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-order-infos flex-grow-1">
      <h4><%= line.product.title %></h4>
      <div class='d-flex align-items-center'>
        <p class='me-4' style='font-size:18px'>Quantité commandée <%= pluralize(line.quantity * line.product.quantity_per_case, 'pièce') %></p>
      </div>
    </div>
    <div class="me-3 mb-3 align-self-end">
      <h2><%= line.line_total_price %>€</h2>
    </div>
  </div>
<% end %>
