<div class="card-product my-2 align-items-center">
  <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="flex-grow-1">
    <div class="card-product-infos text-center">
      <div style="font-size: 16px text-center">
        <%= product.title %>
        <p style="font-size: 12px"><%= product.supplier.name %></p>
      </div>
      <div style="font-size: 12px" text-center>
      <p><%= product.description %></p>
      <p>Quantité en stock: <%= product.quantity_in_stock %></p>
      <p>Quantité par colis: <%= product.quantity_per_case %></p>
      <p>Quantité minimum de commande: <%= product.minimum_order_quantity %></p>
      <p><%= product.buying_price %><i class="fa-solid fa-euro-sign" style="font-size: 12px"></i>/UVC</p>
      </div>
    </div>
    <%= simple_form_for @order_line, html: {class: 'd-flex align-items-center ms-2'} do |f| %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.input :quantity, label: false, input_html: { class: 'mt-3 quantity'} %>
      <%= f.submit 'Précommander', class: 'btn btn-dark mx-2 px-1', style:'width:124px; height:32px' %>
    <% end %>
  </div>
</div>
