<div class='dashboard-container'>

 <%= render 'shared/nav_dashboard' %>

  <div class="border flex-grow-1" style='height: 650px'>
  <% @orders.each do |order| %>
    <% if order.client.nil? %>
      <div class="card-product my-2">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <%= link_to order_path(order), class: 'text-decoration-none link-page' do  %>
        <div class="card-product-infos flex-grow-1 ">
          <h4>Fournisseur: <%= order.order_lines.last.product.supplier.name %></h4>
      <% end %>
          <p>nombre de ligne <strong><%= order.order_lines.count %></strong></p>
          <p>Receipt date: <%= order.planned_delivery_date %></p>
        </div>
        <div class="me-3">
          <h4>Prix total = <%= order.total_price %></h4>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
