
<div class='dashboard-container'>

 <%= render 'shared/nav_dashboard' %>

    <div class="flex-grow-1 pt-4">
      <div>
        <h1 class="text-center">Votre commande numéro <%= @order.id %> de chez</h1>
        <div class="d-flex align-items-center">
          <%= link_to orders_path, class: 'text-decoration-none' do %>
            <i class="fa-solid fa-circle-chevron-left" style='font-size: 24px; color:black'></i>
          <% end %>
          <h1 class="text-center flex-grow-1">  <%= @order.order_lines.first.supplier.name %></h1>
        </div>

        <% @order.order_lines.each do |line| %>
          <%= render partial: 'shared/card_order_line', locals: {line: line, order: @order}  %>
        <% end %>
        <h5 class='text-end'><%= @order.total_price %>€</h5>
        <%= render partial: 'shared/order_status', locals: {order: @order} %>
      </div>
      <div class='d-flex justify-content-around mt-5'>
        <div>
        <% if @order.status == 0 %>
          <% if @other_products.count == 0 %>
            <h1 class="text-center" style="font-size : 36px">Vous avez commandé l'intégralité de l'assortiment de ce fournisseur</h1>
          <% else %>
            <h1 class="text-center">Ce fournisseur propose également:</h1>
            <%  @other_products.each do |product| %>
              <%= render partial: 'shared/card_product', locals: {product: product}  %>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
