<div class='dashboard-container'>

 <%= render 'shared/nav_dashboard' %>

  <div class="border flex-grow-1" style='height: 650px'>
    <% @products.each do |product| %>
      <% if product.order_lines.count > 0 %>
        <% if product.order_lines.last.order.planned_delivery_date < Date.today %>
          <li class="list-group-item">
            <div class="card-product my-2">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <div style="font-size: 16px">
                  <%= product.title %>
                </div>
                <div style="font-size: 12px">
                  <%= product.description %>
                </div>
              </div>
            <%= simple_form_for @order_line do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.input :quantity %>
              <%= f.submit class: 'btn btn-dark' %>
            <% end %>
          </li>
        <% end %>
      <% elsif product.order_lines.count.zero? %>
        <li class="list-group-item">
          <div class="card-product my-2">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <div style="font-size: 16px">
                <%= product.title %>
              </div>
              <div style="font-size: 12px">
                <p><%= product.description %></p>
                <p>Quantité en stock: <%= product.quantity_in_stock %></p>
              </div>
            </div>
          <%= simple_form_for @order_line do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.input :quantity %>
            <%= f.submit class: 'btn btn-dark' %>
          <% end %>
        </li>
      <% end %>
    <% end %>
    <div class="text-center mt-5">
      <%= link_to "Commandes fournisseur", orders_path, class: 'btn btn-outline-danger'  %>
    </div>
  </div>
</div>
